{% extends 'base.html' %}

{% load paginator %}

{% block title %} Rate list{% endblock title %}

{% block content %}

    <a href="{% url 'rate:download-csv' %}"> Donwload rates csv</a> <br>
    <a href="{% url 'rate:download-xlsx' %}"> Donwload rates xlsx</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Source</th>
            <th scope="col">Currency type</th>
            <th scope="col">Created</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Edit\Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for rate in object_list %}

            <tr>
                <td>{{ rate.get_source_display }}</td>
                <td>{{ rate.get_currency_type_display }}</td>
                <td>{{ rate.created }}</td>
                <td>{{ rate.get_type_display }}</td>
                <td>{{ rate.amount }}</td>
                <td>
                     <a href="{% url 'rate:edit' rate.id %}">
                            <i class="fas fa-pencil-alt"></i>
                     </a>
                    <a href="{% url 'rate:delete' rate.id %}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
        {% paginate page_obj %}
    {% endif %}


{% endblock content %}




